.countries{
    border: 2px solid lightblue;
    margin: 15px;
    padding: 10px;
    width: 300px;
}
.btn{
    color: white;
    background-color: blue;
    border-radius: 5px; 
    padding: 7px;
    margin-right: 10px;
}
